


body {
  font-family:"Arial";
}


#my-container {
  min-height:600px; width:600px; margin:auto; padding:40px; box-sizing: border-box;
  background-color:#f9f9f9;
}


#text {
  margin-bottom:20px;
}


#options {
}


.nodeOption {
  width: 200px; padding:10px; margin-bottom:10px;
  border:1px solid #666666; color:#666666; background-color:#f2f2f2;
  cursor:pointer;
}
